.list-title {
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
}
.list-title h1 {
  font-size: 50px;
}

.yellow {
  margin-left: 10px;
  color: orange;
}
.black {
  color: black;
}

.book-list {
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
}
