@media only screen and (max-width: 768px) {
  .book-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
  }
  .list-title {
    font-size: 20px;
  }
}
.list-title {
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
}
.list-title h1 {
  font-size: 50px;
}

.yellow {
  margin-left: 10px;
  color: orange;
}
.black {
  color: black;
}

.book-list {
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
}
