.loginPage {
  padding: 20px;
}

.loginBox {
  width: 30%;
  margin: 50px auto;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 20px;
}

h2 {
  font-size: 15px;
}

.loginButton {
  width: 100%;
  height: 30px;
  border: none;
}

.inputBox {
  width: 100%;
  border: none;
  border-bottom: 2px solid black;
}
.pText {
  font-size: 12px;
}
.aText {
  text-decoration: underline;
  color: black;
}
@media only screen and (max-width: 900px) {
  .loginBox {
    width: 50%;
  }
}
