.sisngle-container {
  height: 400px;
  width: 175px;
  margin: 20px;
  margin-top: 50px;
}

.sisngle-container img {
  height: 275px;
  width: 100%;
}
.sisngle-container h1 {
  font-size: 20px;
  color: black;
}
.sisngle-container h3 {
  font-size: 18px;
  color: grey;
}
.sisngle-container h5 {
  font-size: 18px;
  color: black;
  font-weight: bold;
}
.sisngle-container button {
  display: flex;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  border-radius: 5px;
  border: 1px black solid;
}
.sisngle-container button:hover {
  display: flex;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  border-radius: 5px;
  background-color: blue;
  color: white;
  border: 1px black solid;
}
.sisngle-container button h4 {
  text-align: center;
  margin: 0 auto;
}

.addToCartButton {
  width: 100%;
  border: none;
  text-align: center;
  padding-top: 10px;
}
