.single-container-catogery {
  height: 220px;
  width: 175px;
  margin: 20px;
  margin-top: 50px;
}

.single-container-catogery img {
  height: 160px;
  width: 100%;
  border: 1px solid gray;
  border-radius: 100%;
}
.single-container-catogery h1 {
  margin-top: 5px;
  text-align: center;
  font-size: 30px;
  color: black;
}
.single-container-catogery h3 {
  font-size: 18px;
  color: grey;
}
.single-container-catogery h5 {
  font-size: 18px;
  color: black;
  font-weight: bold;
}
