.banner-container {
  width: 100%;
  height: 30rem;
  margin: auto;
  background-color: aqua;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.banner-container .background {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.circle-image {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  position: relative;
}
.text {
  position: relative;
  color: white;
}

.text h1 {
  font-size: 50px;
}
@media only screen and (max-width: 768px) {
  .text {
    position: relative;
    text-align: center;
  }
  .circle-image {
    position: relative;

    display: none;
  }
}
