.single-container {
  height: 100px;
  width: 700px;
  margin: 20px;
  margin-top: 50px;
  display: flex;
}

.single-container img {
  height: 100px;
  width: 70px;
}
.single-container h1 {
  font-size: 20px;
  color: black;
  text-align: center;
  margin: auto;
}
.single-container h3 {
  margin: auto;

  font-size: 18px;
  color: grey;
}
.single-container h5 {
  font-size: 18px;
  color: black;
  font-weight: bold;
  margin: auto;
}
.single-container button {
  display: flex;
  text-align: center;
  margin: 0 auto;
  width: 20%;
  height: 50%;
  margin-top: 20px;

  border-radius: 5px;
  border: 1px black solid;
}
.single-container button:hover {
  display: flex;
  text-align: center;
  margin: 0 auto;
  width: 20%;
  height: 50%;
  margin-top: 20px;
  background-color: blue;
  color: white;
  border: 1px black solid;
}
.single-container button h4 {
  text-align: center;
  margin: auto;
}
