.navbar-container {
  width: 100%;
  height: 60px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Logo {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Logo:hover {
  opacity: 0.8;
}
.Logo img {
  height: 35px;
  margin-left: 30px;
}
.Logo h1 {
  font-size: 30px;
}

.menuitems {
  display: block;
  height: 100%;
  margin-right: 30px;
}

.menuitems ul {
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menuitems li {
  float: left;
  height: 100%;
  display: inline;
  font-size: 20px;
  color: gray;
}

.menuitems li a {
  padding: 16px 15px;
  display: block;
  height: 100%;
  color: gray;
  text-align: center;
  text-decoration: none;
}

.menuitems li a:hover {
  text-decoration: underline;
  color: blue;
}
